/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); */

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
  --border: .2rem solid var(--main-color);
  --border-hover: .2rem dashed var(--main-color);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  background: url(../image/menu-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
}

body, h2, label, form {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 420px; /* Reduced container width */
  margin: 100px auto; /* Adjusted margin */
  background-color: #fff;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  backdrop-filter: blur(3px); /* Adjusted background blur effect */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 15px; /* Reduced margin */
  color: #443;
  font-size: 30px; /* Reduced font size */
}

label {
  margin: 8px 0; /* Reduced margin */
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px; /* Reduced padding */
  margin: 4px 0 15px; /* Reduced margin */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: var(--border);
  border-radius: var(--border-radius);
}

button {
  width: 100%;
  padding: 8px; /* Reduced padding */
  background-color: #007bff;
  color: var(--main-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-top: 15px; 
  margin-bottom: 10px;/* Reduced margin */
}

button:hover {
  background-color: #0056b3;
}
